body{
	background: #819ca9;
}
.iteam_box{
	width: 100%;
	margin-top: 30px;
	/*background: #29434e;*/
	background: #ffc246;
	border-radius: 5px;
}
.iteam_box button{
	width: 32%;
	background: none;
	color: white;
	border: none;
	font-size: 24px;
	padding: 5px;
	text-align: center;
	border-right: 2px solid gray;
}
.iteam_box button:hover{
	color: black;
}
.headding{
	font-weight: bolder;
	color: #1b0000
}
.Eassy{
	text-align:justify;
	font-weight: bolder;
	color: #1b0000;
}