body{
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #546e7a;
	/*background-image: linear-gradient(60deg,#546e7a,#FFECB3)*/
}
.drop_box{
	float: left;
	margin-left: -12px;
	width: 90px;
	height: 30px;
	text-align: center;
	background: white;
	border-radius: 5px;
}