body{
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #ad1457;
}
.ques_box{
	width: 95%;
	height: auto;
	background-color: white;
	border-radius: 12px;
	margin-top: 20px;
}
.drop_box{
	width: 150px;
	height: 60px;
	margin-top: 20px;
	background-color: white;
	border-radius: 12px;
	float: right;
	margin-right: 20px;
	text-align: center;
	font-weight: bold;
}
.ans_box{
	margin-top: 100px;
	background-color: white;
	color: black;
}
.draggable{
	float: left;
	padding: 12px;
	font-weight: bolder;
}